sudo: required
language: java 
jdk: oraclejdk8


services:
 - postgresql
 
addons:
  sonarcloud:
    organization: "isamrstim10"
    token:
      secure: "**************************" # encrypted value of your token
script:
 - cd MRS2020_T10
 - mvn clean install
 - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar
 - ./mvnw sonar:sonar -Dsonar.projectKey=$PROJECT_KEY -Dsonar.organization=Andjelaaa -Dsonar.host.url=https://sonarcloud.io -Dsonar.login="**************************"


dist: trusty

deploy:
  provider: heroku
  api_key: c4db25e0-39fb-4775-8582-d6780d5f52dd
  app: app-klinikatim10
  skip_cleanup: true
