sudo: required
language: java 
jdk: oraclejdk8


services:
 - postgresql

 
before_install:
  - chmod +x mvn

    
install:
  - mvn -N io.takari:maven:wrapper

addons:
  sonarcloud:
    organization: isamrstim10
    token: aa28177b1bff136d562806ce41abb1da1d578413

script:
 - cd MRS2020_T10
 -  mvn clean install
 -  mvn sonar:sonar -Dsonar.projectKey=KljucTim10 -Dsonar.organization=isamrstim10 -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=aa28177b1bff136d562806ce41abb1da1d578413

dist: trusty

deploy:
  provider: heroku
  api_key: c4db25e0-39fb-4775-8582-d6780d5f52dd
  app: app-klinikatim10
  skip_cleanup: true
